p{
    color: #CCC;
    background-color: #444444;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    display: inline;
    
    padding: 20px;
}
p:hover{
    background-color: #333;
}

div{
    margin-top: 30px;
    text-align: center;
}