.container{
    padding: 20px;
    background-color: #dddddd;
    border-radius: 5px;
    width: 10rem;
    height: 10rem;
}
.squares{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    border: 3px solid black;
}