.first{
    background-color: #123456;
}
.second{
    background-color: #345ABC;
}
.third{
    background-color: #A4532B;
}
tr{
    background-color: #AAA
}
th, td{
    text-align: center;
    font-size: 10rem;
}
td:hover{
    cursor: pointer;
    border: 5px solid black;

}
.small-table{
    display: inline-block;
    max-width: 70%;
    background-color:black;
}
